#index-page {
    background-color: rgb(64, 104, 88);

    width: 90%;
    min-height: 60em;

    margin: 5%;

    border: 5px solid rgb(84, 155, 119);
    border-radius: 20px;
}

.index-content {
    text-align: center;
    
    border: 2px dashed green;
    border-radius: 25px;

    margin: 2%;

    color: rgb(238, 238, 238);
}

#index-navbar {
    
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #111;
}