#index-page {
    background-color: rgb(64, 104, 88);

    width: 90%;
    min-height: 60em;

    margin: 5%;

    border: 5px solid rgb(84, 155, 119);
    border-radius: 20px;
}

.index-content {
    text-align: center;
    
    border: 2px dashed green;
    border-radius: 25px;

    margin: 2%;
}