#welcome-page {
    background-image: url("/images/forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    min-height: 60em;
}

#welcome-link {
    text-align: center;
    padding: 20px 80px;
    display: block;

    width: max-content;
    
    background-color: rgb(57, 55, 55);
    color: white;

    border-radius: 25px;

    left: 42%;
    top: 35%;
    position: absolute;
}

#welcome-link:hover {
    background-color: rgb(110, 105, 105);
}